# Main Dagster version 
dagster==1.4.14
dagster-webserver==1.4.14
dagster-graphql==1.4.14

# Dagster integrations
dagster-dbt==0.20.14
dagster-docker==0.20.14
dagster-airbyte==0.20.14
dagster-postgres==0.20.14
dagster-docker==0.20.14
dagster-gcp==0.20.14
dagster-duckdb==0.20.14
dagster-duckdb-pandas==0.20.14

# Duck DB
duckdb==0.8.1

# dbt 
dbt-duckdb==1.6.0

# Others
pandas==2.0.3
scipy
numpy