# Main Dagster version 
dagster==1.4.17
dagster-webserver==1.4.17
dagster-graphql==1.4.17

# Dagster integrations
dagster-dbt==0.20.17
dagster-docker==0.20.17
dagster-postgres==0.20.17
dagster-duckdb==0.20.17
dagster-duckdb-pandas==0.20.17

# Duck DB
duckdb==0.8.1

# dbt 
dbt-duckdb==1.6.0

# Others
pandas==2.0.3