# Main Dagster version 
dagster==1.5.9
dagster-webserver==1.5.9
dagster-graphql==1.5.9

# Dagster integrations
dagster-docker==0.21.9
dagster-postgres==0.21.9
dagster-duckdb==0.21.9
dagster-duckdb-pandas==0.21.9
dagster-dbt==0.21.9

# Duck DB
duckdb==0.9.2

# dbt 
dbt-duckdb==1.7.0

# Others
pandas==2.0.3
faker